.gameOverModal {
	width: 80%;
	height: 70vh;
	position: relative;
	margin: 0 auto;
	padding: 2rem 0;
	background-size: cover;
	background-position: center bottom 25%;
	border: 2px solid #096532;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.gameOverModal__title {
	background: linear-gradient(90deg, #1C33FF, #F83030, #C934FF, #EBB35A);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-position: 100%;
	font-size: 3rem;
	text-transform: uppercase;
	z-index: 5;
}

.gameOverModal__subTitle {
	background: linear-gradient(90deg, #1C33FF, #F83030, #C934FF, #EBB35A);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-position: 100%;
	font-size: 2rem;
	text-transform: uppercase;
	z-index: 5;
}

.gameOverModal__hero {
	position: absolute;
	height: 50%;
	top: 5%;
	left: 5%;
	opacity: 0;
	z-index: 2;
}

.gameOverModal__antiHero {
	position: absolute;
	height: 90%;
	bottom: 0;
	opacity: 0;
	z-index: 3;
}

.gameOverModal__antiHero1 {
	position: absolute;
	height: 55%;
	bottom: 0;
	left: 5%;
	opacity: 0;
	z-index: 2;
}

.gameOverModal__antiHero2 {
	position: absolute;
	height: 65%;
	bottom: 0;
	right: 5%;
	opacity: 0;
	z-index: 2;
}

.gameOverModal__buttonBox {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
}

.gameOverModal__button {
	width: 7rem;
	height: 4rem;
	position: relative;
	background-color: #096532;
	background-image: url(../assets/backgrounds/turtle-button.jpg);
	background-size: 100% 100%;
	background-position: center 36%;
	border-top: 3px solid #444;
	border-left: 3px solid #444;
	border-bottom: 3px solid #222;
	border-right: 3px solid #222;
	border-radius: 40%;
	color: #FFF;
	font-family: 'Orbitron', serif;
	font-size: 1.25rem;
	font-weight: 900;
	transition: 300ms;
	cursor: pointer;
	z-index: 5;
}

.gameOverModal__button:active {
	border-top: 4px solid #444;
	border-left: 4px solid #444;
	border-bottom: 2px solid #333;
	border-right: 2px solid #333;
}

.gameOverModal__button:hover {
	color: #EBB35A;
	box-shadow: 0 0 1rem #EBB35A;
}