/* Preloader Component Styles */

.preloader {
	min-height: 100vh;
	padding: 6vh 5% 8vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.preloader__title,
.preloader__subTitle {
	background: linear-gradient(90deg, #1C33FF 0 20%, #EBB35A 25% 45%, #C934FF 55% 75%, #F83030 85% 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-position: 100%;
	font-size: 2rem;
	font-weight: 900;
	color: #FFF;
	text-transform: uppercase;
	cursor: default;
}

.preloader__tilt {
	width: 90%;
	z-index: 2;
}

.preloader__imgbox {
	width: 100%;
}

.preloader__imgbox>* {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: 300ms;
	perspective: 1000px;
	z-index: 3;
}

.preloader__subTitle {
	font-size: 1.8rem;
}

.preloader__buttonBox {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.preloader__button {
	width: 7rem;
	height: 4rem;
	background-color: #EBB35A;
	background-size: 100% 100%;
	background-position: center 36%;
	border-top: 3px solid #444;
	border-left: 3px solid #444;
	border-bottom: 3px solid #222;
	border-right: 3px solid #222;
	border-radius: 2rem;
	color: #FFF;
	font-family: 'Orbitron', serif;
	font-size: 1.35rem;
	font-weight: 700;
	z-index: 5;
}

.preloader__button:active {
	border-top: 4px solid #444;
	border-left: 4px solid #444;
	border-bottom: 2px solid #333;
	border-right: 2px solid #333;
}

@media screen and (orientation: landscape) {
	.preloader {
		padding: 3vh 10%;
	}

	.preloader__title {
		font-size: 1.5rem;
	}

	.preloader__tilt {
		width: 32%;
	}

	.preloader__subTitle {
		font-size: 1.3rem;
	}

	.preloader__buttonBox {
		width: 80%;
	}

	.preloader__button {
		height: 3.5rem;
		border-radius: 1.75rem;
		font-size: 1.25rem;
	}
}

@media screen and (min-width: 1024px) {
	.preloader {
		padding: 3vh 10%;
	}

	.preloader__tilt {
		width: 35%;
	}

	.preloader__subTitle {
		font-size: 1.5rem;
	}

	.preloader__buttonBox {
		width: 60%;
	}

	.preloader__button {
		font-size: 1.25rem;
		transition: 500ms;
		cursor: pointer;
	}

	.preloader__button:hover {
		background-image: url(../assets/backgrounds/turtle-button.jpg);
		color: #EBB35A;
		box-shadow: 0 0 1rem #EBB35A;
	}
}